<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">

 <!-- APPENDERS CONFIGURATION: -->
        
 <Appenders>  
     
   <!-- This appender is bound with a server's log. -->  
    
   <Console name="ServerLog" target="SYSTEM_OUT">
     <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>         
   </Console>    
  
   <!-- This appender is bound with a file "errors.log" and accepts "ERROR" messages only. -->
   <File name="ErrorsLogFile" fileName="mylogs/errors.log" append="true">
     <PatternLayout>
      <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
     </PatternLayout>  
      <!-- Write to file "errors.log" messages with "ERROR" level only. --> 
      <LevelRangeFilter>
        <param name="LevelMin" value="error" />
        <param name="LevelMax" value="error" />
      </LevelRangeFilter>                  
   </File>
   
    <!-- This appender is bound with a file "app.log" and accepts all messages. 
         Use attribute "append="false" to create new file "app.log" each time after
         application deployment.  -->
    <File name="AppLogFile" fileName="mylogs/app.log" append="false">
      <PatternLayout>
        <Pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</Pattern>
      </PatternLayout>
    </File>
    
     <!-- This appender is bound with a file "app.log" and is used to write headers. 
          Use attribute "append="false" to create new file "app.log" each time after
          application deployment.  -->
    <File name="ExtraAppLogFile" fileName="mylogs/app.log" append="false">
      <PatternLayout>
        <Pattern>%msg%n</Pattern>
      </PatternLayout>
    </File>
    
    <!-- This appender is bound with a file "complete.log" and accepts all messages. -->
    <File name="CompleteLogFile" fileName="mylogs/complete.log" append="true">
      <PatternLayout>
        <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
      </PatternLayout>
    </File>    

    <File name="DebugLogFile" fileName="mylogs/debug.log" append="false">
      <PatternLayout>
        <Pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</Pattern>
      </PatternLayout>      
    </File>       
                     
 </Appenders>

  <!-- LOGGERS CONFIGURATION: -->

  <Loggers>

      
    <!-- This logger is defined in class "com.soft.controller.MyController". 
         It logs messages generated in this class. -->
             
    <Logger name="com.soft.controller.EshopController" level="TRACE">     -->  
      <!-- Write messages to files and GlassFish server's log. -->  
       <AppenderRef ref="ServerLog"/>   
       <AppenderRef ref="ErrorsLogFile"/>
       <AppenderRef ref="AppLogFile"/>            
    </Logger>    
    
    <Logger name="MyHeadersLogger" level="TRACE">      
      <!-- Writes headers to log file. -->        
      <AppenderRef ref="ExtraAppLogFile"/>
    </Logger>
     
	 <Logger name="com.soft.controller.EshopController" level="DEBUG">
	    <AppenderRef ref="DebugLogFile" />
	 </Logger>	 	 
	 
	 <Logger name="MyHeadersLogger" level="WARN">
	    <AppenderRef ref="DebugLogFile" /> 
	 </Logger>   
        
 
     <Logger name="org.hibernate.SQL" level="debug" additivity="false">
       <AppenderRef ref="ServerLog" />
     </Logger>
     
     <!-- Log cache -->
     <Logger name="org.hibernate.cache" level="debug" additivity="false">
       <AppenderRef ref="ServerLog" />
     </Logger>
     
     <Logger name="org.ehcache" level="debug" additivity="false">
       <AppenderRef ref="ServerLog" />
     </Logger>      
   
    <!-- Root logger -->    
    <Root level="ALL">              
       <AppenderRef ref="ServerLog" />   
       <AppenderRef ref="CompleteLogFile"/>  
    </Root>
         
  </Loggers>
  
</Configuration>