  
  <!-- List of items for selected category. -->                
                
  <div th:fragment="content">                                                                 									
    
      <!-- Navigation box. -->
      <div class="div-navigation">    
        <span>
          <a class="home-href" href="http://localhost:8080/eshop/home.html/" th:text="#{locale.homePageName}"></a>
        </span> 
         <span> > </span>    
          <span th:text="#{${selectedCategory.name}}"> </span>
      </div>    
    
      <!-- Filter's box. -->
      <div class="div-filters">
      </div>
     
      <!-- Items's box. -->
      <div class="div-items">
      
              <!-- Table to display item's list. -->	
  			  <table class="table-of-items" id="itemsListTable">
                
  			    <tr th:each="item: ${itemsList}">
  			       <td>			
					  <div class="div-items-list">
					  
					      <div class="div-item-info">					       					       					      
                            <div class="item-name" th:text="${item.name}"  th:value="'entity='+${item.getClass().getSimpleName()}+'&id='+${item.id}"></div>
                            <div class="item-description" th:text="${item.description}"></div>                           
                          </div>      
                          
                           <div class="div-item-image"> 
                             <img class="item-small-image" th:src="'/eshop/image?entity='+${item.getClass().getSimpleName()}+'&id='+${item.id}" alt=""> 
                           </div>				
                          	   
                            <div class="div-item-quantity">	         					                 		     	  	  		    		                    		                    		                 
  		                      <span class="item-quantity" th:text="${item.quantity}"></span>
  		                    </div>
  		                  
  		                     <div class="div-item-price">
   		                       <span class="item-price" th:text="${item.price}"></span>
   		                     </div> 
   		                  
   		                      <!-- Quantity selector. -->
   		                      <div class="div-quantity-selector">   		                      		                      		                    
   		                        <input type="number" class="quantity-selector"  value="1"  min="1" max="10000" step="1"> 
   		                      </div>    		                        		                       		                    
   		                   
   		                       <!-- To cart button. -->            
   		                       <div class="div-cart-button">  
                                 <input type="submit" class="to-cart-button" th:value="#{locale.toCartButtonName}">
                               </div>          		                            
		              </div>
		            </td>  	      
  			    </tr>
  			  	            
	          </table>
      </div>  
  </div>